[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "2.7.1"
torchvision = "0.22.1"
pycocotools = "2.0.10"
pillow = "11.2.1"
transforms = "*"
tqdm = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.13"
